<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>RANGO</title>
</head>
<body>
    <h1>Here's info about the Rango!</h1>
    <br>
    <h2>Date that you've entered here: {{cur_date}}</h2>
    <div>
        <img src="{% static "images/about_img.jpg" %}">
        <br>
        <a href="/rango/">Go back to index</a>
        <br>
        <h3>But here's the cat first from media folder</h3>
        <br>
        <img src="{{MEDIA_URL}}cat.jpg">
    </div>

</body>
</html>