{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}About{% endblock %}

{% block body_block %}
    <h1>Here's info about the Rango!</h1>
    <br>
    <h2>Date that you've entered here: {{cur_date}}</h2>
    <div>
        <img src="{% static "images/about_img.jpg" %}">
        <br>
        <h3>But here's the cat first from media folder</h3>
        <br>
        <img src="{{MEDIA_URL}}cat.jpg">
        <br>
        This tutorial has been put together by...
        <br>
        {% if request.COOKIES.test_cookie %}
            <h3>You have cookie! It contains: {{ request.COOKIES.test_cookie }}</h3>
        {% else %}
            <h3>You dont't have test cookie!</h3>
        {% endif %}
        {% if request.session.visits %}
            <h3>Visits counter: {{ request.session.visits }}</h3>
        {% endif %}
    </div>
{% endblock %}