{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        {% if user.is_authenticated %}
        howdy {{ user.username }}! <br>
        {% else %}
        hey there partner! <br>
        {% endif %}
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        {% if categories %}
        <h1>Most liked categories:</h1>
        <ul>
        {% for category in categories %}
        <li>
            <a href ="{% url 'show_category' category.slug %}">{{ category.name }}</a>
        </li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}

        {% if pages %}
            <h1>Most liked pages:</h1>
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{page.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
        <strong>No pages added yet!</strong>
        {% endif %}
    </div>
    <div>
        <img src="{% static "images/rango.jpg" %}"
        alt="Picture of Rango" />
    </div>
    <p> visits: {{ request.session.visits }}</p>
    <p>last visit: {{ request.COOKIES.last_visit }}</p>
{% endblock %}
